In [1]:
def load_data_new(file_path):
    data = pd.read_csv(file_path)
    # data.dropna()
    df_numerical = data.select_dtypes(include=[float, int])
    df_final= df_numerical.dropna(axis=1)
    return df_final

In [7]:
import pandas as pd

df = load_data_new('dataset/new_dataset/Tesla.csv')

In [8]:
df

            Open        High         Low       Close    Volume   Adj Close
0      19.000000   25.000000   17.540001   23.889999  18766300   23.889999
1      25.790001   30.420000   23.299999   23.830000  17187100   23.830000
2      25.000000   25.920000   20.270000   21.959999   8218800   21.959999
3      23.000000   23.100000   18.709999   19.200001   5139800   19.200001
4      20.000000   20.000000   15.830000   16.110001   6866900   16.110001
...          ...         ...         ...         ...       ...         ...
1687  244.820007  246.850006  242.779999  246.169998   3010700  246.169998
1688  246.110001  258.119995  246.020004  258.000000   7575500  258.000000
1689  257.000000  261.000000  254.270004  255.729996   4816600  255.729996
1690  262.399994  265.750000  259.059998  262.049988   7100400  262.049988
1691  264.000000  265.329987  261.200012  261.500000   6475900  261.500000

[1692 rows x 6 columns]

In [10]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object